<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="gimbalrotor" />
  <arg name="control_mode" default="0" />
  <arg name="mocap_debug_mode" default="false" />

  <node name="integration" pkg="twin_hammer" type="integration.py" output="screen" >
    <param name="robot_name" value="$(arg robot_name)" />
    <param name="control_mode" value="$(arg control_mode)" />
  </node>

  <node name="haptics" pkg="twin_hammer" type="haptics.py" output="screen" >

  </node>

  <node name="button" pkg="twin_hammer" type="button.py" output="screen" >

  </node>

  <node name="gesture" pkg="twin_hammer" type="button.py" output="screen" >
    <param name="robot_name" value="$(arg robot_name)" />
  </node>

  <include file="$(find twin_hammer)/launch/include/mocap.launch" if="$(arg mocap_debug_mode)" /> 

</launch>